<div class="product-variant-wrapper">
  <p class="product-header">{{ productDetailsVariant.name }}</p>

  <div>
    <div class="product-stock-details">
      <p class="product-price">
        Price: {{ productDetailsVariant.price | number }} МКД
      </p>
      <p class="product-stock-level">
        Stock Level: {{ productDetailsVariant.stockLevel }}
      </p>
    </div>
    <div class="product-stock-details">
      <mat-radio-group
        aria-label="Select an option"
        (change)="onRadioChange()"
        [name]="radioGroupName"
      >
        <mat-radio-button [value]="productDetailsVariant.id"
          >Add item to active order</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>
</div>
