<div class="products-wrapper">
  <div class="select-inputs">
    <app-sort-products></app-sort-products>
    <app-filter-products></app-filter-products>
  </div>
  <h1 class="products-header">Products we are proud of</h1>
  <div class="product-cards">
    <app-product-card
      *ngFor="let product of products"
      [product]="product"
    ></app-product-card>
  </div>
  <app-pagination
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    [pageIndex]="page"
    (pageChanged)="onPageChange($event)"
  ></app-pagination>
</div>
