<p>
  <mat-toolbar class="wrapper">
    <img
      src="../../../../assets/images/logo.jpg"
      alt="logo"
      class="img"
      routerLink="/"
    />
    <span class="example-spacer"></span>
    <a class="btn" routerLink="/">Home</a>
    <a
      class="btn"
      aria-label="Example icon-button with heart icon"
      routerLink="/order-details"
    >
      Order details
    </a>
    <mat-icon class="icon" matBadgeColor="accent" routerLink="/order-details">
      local_grocery_store</mat-icon
    >
  </mat-toolbar>
</p>
