<div class="wrapper" *ngIf="productDetails">
  <div class="container">
    <h1 class="header">{{ productDetails.name }}</h1>
    <img
      [src]="productDetails.assets[0].preview"
      [alt]="productDetails.name"
      class="img"
    />
    <p class="description">{{ productDetails.description }}</p>
  </div>
  <div class="product-container">
    <div *ngFor="let productDetailsVariant of productDetails.variants">
      <app-product-variant
        [productDetailsVariant]="productDetailsVariant"
        [quantityMap]="quantity"
        (radioChange)="onRadioChange($event)"
      ></app-product-variant>
    </div>
    <div class="quantity-input">
      <label for="quantity">Quantity:</label>
      <input
        type="number"
        name="quantity"
        [(ngModel)]="quantity"
        placeholder="Quantity"
        min="1"
      />
      <div *ngIf="quantity < 0" class="error-message">
        Quantity can't be negative.
      </div>
      <button
        class="btn"
        [disabled]="selectedVariantId === undefined || quantity <= 0"
        (click)="orderProduct()"
      >
        Order
      </button>
    </div>
  </div>
</div>
